<h2>Upload Supporting Documents</h2>
<form>
    <div class="form-group">
        <label for="file">Select Document:</label>
        <input type="file" class="form-control" id="file">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
